<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asia-lab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asia-lab.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asia-lab</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$asia-lab</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AsiaLabdb2Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:asialab.database.windows.net,1433;Initial Catalog=AsiaLabDb;User ID=AsiaLab@asialab;Password=Asia+Lab2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AsiaLabv1.AsiaLabdb2Entities, AsiaLabv1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AsiaLabdb2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AsiaLabData.csdl|res://*/AsiaLabData.ssdl|res://*/AsiaLabData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:asialab.database.windows.net,1433;Initial Catalog=AsiaLabDb;User ID=AsiaLab@asialab;Password=Asia+Lab2016"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>